# .gitignore는 추적
!.gitignore

# .ipynb_checkpoints 디렉토리 무시
.ipynb_checkpoints/

# Python 바이트코드 파일 무시
__pycache__/

# notebook 디렉토리 무시
notebook/

# env 파일 무시
.env

# data 파일 무시
data/*

# 단, sample, font 폴더는 추적
!data/fonts
!data/fonts/**
!data/sample/
!data/sample/**
