# --- secrets (절대 푸시 금지) ---
.env
frontend/.streamlit/secrets.toml

# --- python 캐시/가상환경 ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# --- 편집기/OS 잡파일 ---
.vscode/
.idea/
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# --- streamlit 캐시 ---
.streamlit/cache/
frontend/.streamlit/cache/

/.cache/
/.jupyter/
/.local/
/.npm/
/.vscode-server/
/.streamlit/
/ssh
.bash_history
.python_history
.wget-hsts